html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#main-container {
  height:100%;
  margin:0 auto;
  min-height:100%;
  overflow:hidden;
  position:relative;
  width:100%;
}

#map_canvas {
  
  z-index: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  margin-left: 340px;
}

#sidebar {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 340px;
  background: #fff;
  height: 100%;
  overflow: hidden;
}

#topbar {
  z-index: 2;
  height: 60px;
  position: relative;
  overflow: hidden;
  padding: 0 20px;
}

.block {
  margin: 5px;
  padding: 5px 15px;
  border: 1px solid #ddd;
}
.select2 {
  width: 100%;
}

.slider-count {
  color: #F6A828;
  font-weight: bold;
}

#sidebar_inner {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-right: 1px solid #ddd;
  overflow: auto;
  padding: 0 20px;
}