html, body, #map_canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map_canvas {
  z-index: 0;
  margin-left: 340px;
}

#sidebar {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 100%;
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 0px 20px;
}

.block {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
}
.select2 {
  width: 100%;
}

