html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#main-container {
  height:100%;
  margin:0 auto;
  min-height:100%;
  overflow:hidden;
  position:relative;
  width:100%;
}

#map_canvas {
  z-index: 0;
  position: absolute;
  top: 42px;
  left: 300px;
  right: 0px;
  bottom: 0px;
}

#sidebar {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 42px;
  width: 300px;
  bottom: 0px;
  overflow: auto;
  background: #fff;  
  border-right: 1px solid #ddd;
  -webkit-box-shadow:  -10px 0px 20px 10px rgba(0, 0, 0, 0.3);
  box-shadow:  -10px 0px 20px 10px rgba(0, 0, 0, 0.3);
}

#topbar {
  z-index: 2;
  height: 42px;
  line-height: 42px;
  position: relative;
  overflow: hidden;
  padding: 0 20px;
  color: #fff;
  background: #6b6b6b; /* Old browsers */
  background: -moz-linear-gradient(top, #5d5d5d 0%, #4c4c4c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d5d5d), color-stop(100%,#4c4c4c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5d5d5d 0%,#4c4c4c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5d5d5d 0%,#4c4c4c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5d5d5d 0%,#4c4c4c 100%); /* IE10+ */
  background: linear-gradient(to bottom, #5d5d5d 0%,#4c4c4c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d5d5d', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */background: -moz-linear-gradient(top, #606060 0%, #2d2d2d 100%); /* FF3.6+ */
  -webkit-box-shadow:  0px -10px 20px 10px rgba(0, 0, 0, 0.5);
  box-shadow:  0px -10px 20px 10px rgba(0, 0, 0, 0.5);
}

#topbar a {
  float: right;
  color: #ddd;
  display: block;
  margin: 5px 20px;
  line-height: 20px;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
}

#topbar a:hover {
  color: white;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}

.search-query {
  float: right;
  margin-top: 5px;
  width: 300px;
}

.not-found {
  background-color: #ffeaf0 !important;
}

.block {
  margin: 15px 0 0 12px;
  padding: 5px 15px 15px 15px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  float: left;
  width: 230px;
}

.ui-slider {
  margin: 5px 0;
}

.alert {
  margin-bottom: 0;
}

.smallblock {
  width: 120px;
  margin: 10px 0 0 12px;
  float: left;
}

.select2 {
  width: 100%;
  margin-bottom: 5px;
}

.slider-count {
  font-weight: bold;
}

h1 {
  font-size: 15pt;
  font-weight: bold;
  margin: 0;
}

.hall-info {
  background: #efefef;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 5px 7px;
  margin: 5px 0;
}

.hall-info p {
  margin: 0;
}

.additional-info {
  margin-top: 10px;
}

.stars {
  float: right;
}

/* vim: sw=2
 */
